{% extends 'shop/layout.html' %}
{% block content %}
<section>
        <div class="bgvideo">
            <video src="source/files/гонка.mp4" type="video/mp4" autoplay muted loop></video>
            <div class="video-text">
                <h1>Future`s is here!</h1>
            </div>

        </div>



        <div class="container-fluid m-4">
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 4"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-block w-100">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <img src="source/images/26-Dorozhnik-RUBY-pod-treschotku-chernyiy-2021-9704-1039x685.jpg" class="w-100" alt="...">
                                            </div>
                                            <div class="col-lg-6 col-md-6 slide-text">
                                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis minus soluta, dicta illum atque </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-block w-100">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <img src="source/images/26-Dorozhnik-RUBY-pod-treschotku-chernyiy-2021-9704-1039x685.jpg" class="w-100" alt="...">
                                            </div>
                                            <div class="col-lg-6 col-md-6 slide-text">
                                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis minus soluta, dicta illum atque adipisci placeat eos? Laudantium, placeat vero.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-block w-100">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <img src="source/images/26-Dorozhnik-RUBY-pod-treschotku-chernyiy-2021-9704-1039x685.jpg" class="w-100" alt="...">
                                            </div>
                                            <div class="col-lg-6 col-md-6 slide-text">
                                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis minus soluta, dicta illum atque adipisci placeat eos? Laudantium, placeat vero.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="d-block w-100">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <img src="source/images/ralson 20.jpg" class="w-100" alt="...">
                                            </div>
                                            <div class="col-lg-6 col-md-6 slide-text">
                                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis minus soluta, dicta illum atque adipisci placeat eos? Laudantium, placeat vero.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="col-lg-12 col-md-12 text-center mt-4">
                            <button type="button" class="btn btn-outline-primary btn-lg my-4">See more</button>
                        </div>

                        <div class="col-lg-12 col-md-12 text-center mt-4">
                            <p>Чи можемо вам чимось допомогти?</p>
                        </div>
                        <div class="col-lg-12 col-md-12 text-center">
                            <img class="call-anim" style="width: 40px;" src="source/files/phone.png" alt="...">
                        </div>

                    </div>

                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="row px-2">
                        <div class="col-lg-12 sidebar my-4">
                            <p>Кампанія Велосіч - це український бренд заснований в 1997 році і здобувший пошану в величезної кількості людей, які стали нашими клієнтами <a href="#">Learm more>>></a></p>
                        </div>
                        <div class="col-lg-12 sidebar my-4">
                            <p>Акції на сезон 2023! <a href="#">Learm more>>></a>
                        </div>
                        </p>
                        <div class="col-lg-12 sidebar my-4">
                            <p>Як вибрати велосипед? Поради майстра <a href="#">Learm more>>></a></p>
                        </div>
                        <div class="col-lg-12 sidebar my-4">
                            <p>Як вибрати покришки для велосипеда? <a href="#">Learm more>>></a></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
{% endblock %}